mark{
    color: #1473ff;
}
.table-alarm{
    background-color: rgba(253, 126, 20, 0.5)!important;
}
.table-end{
    background-color: rgba(255, 0, 0, 0.5)!important;
}
.table-warn{
    background-color: rgba(255, 255, 0, 0.5)!important;
}
